
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 33%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 33%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 33%;

    --primary: 240 5% 34%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 0 0% 33%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 262 100% 94%;
    --accent-foreground: 0 0% 33%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 0 0% 33%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html, body, #root {
    @apply h-full bg-canvas-background text-canvas-foreground;
  }

  body {
    @apply antialiased font-sans;
  }

  ::placeholder {
    @apply text-canvas-muted;
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}
